# Core Framework
Django==5.2.6

# Django REST Framework
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.1
django-filter==25.1
drf-spectacular==0.28.0
drf-standardized-errors==0.15.0

# CORS & Security
django-cors-headers==4.7.0
django-csp==4.0

# Environment Variables
python-decouple==3.8
python-dotenv==1.1.1

# Database
psycopg2-binary==2.9.10

# Images
Pillow==11.3.0

# Redis & Caching
redis==6.4.0
django-redis==6.0.0

# Background Tasks
celery==5.5.3

# Production Server
gunicorn==23.0.0
whitenoise==6.9.0

# HTTP Requests
requests==2.32.5

# Excel
openpyxl==3.1.5
pandas==2.3.2

# Phone Number Validation
phonenumbers==9.0.13
django-phonenumber-field==8.1.0

# Developer Tools
django-extensions==4.1

# Testing
pytest==8.4.2
pytest-django==4.11.1
coverage==7.10.6


# Celery Scheduler
django-celery-beat==2.8.1

# Celery Results
django-celery-results==2.6.0

# Rich Logging
rich==14.1.0

django-extensions==4.1


google-auth

requests